## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1a Read the WeatherPy_vacation.csv into a DataFrame.
# Store the CSV you saved created in part one into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_Database (final).csv")
vacation_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ruwi,OM,23.60,58.55,68.00,72,0,3.36
1,1,Naryan-Mar,RU,67.67,53.09,14.59,96,0,8.57
2,2,Bredasdorp,ZA,-34.53,20.04,60.80,87,100,10.29
3,3,Castro,BR,-24.79,-50.01,61.16,97,2,6.15
4,4,Albany,US,42.60,-73.97,41.00,69,2,2.08
5,5,Mahebourg,MU,-20.41,57.70,73.40,78,75,16.11
6,6,Buala,SB,-8.14,159.59,84.29,73,76,1.63
7,7,Vestmannaeyjar,IS,63.44,-20.27,44.17,73,0,2.35
8,8,Grindavik,IS,63.84,-22.43,41.00,86,0,10.29
9,9,Kununurra,AU,-15.77,128.73,91.40,52,100,6.93

In [3]:
# 1b Store the CSV you saved created in part one into a DataFrame.
clean_hotel_df = pd.read_csv("weather_data/WeatherPy_Database (final).csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ruwi,OM,23.60,58.55,68.00,72,0,3.36
1,1,Naryan-Mar,RU,67.67,53.09,14.59,96,0,8.57
2,2,Bredasdorp,ZA,-34.53,20.04,60.80,87,100,10.29
3,3,Castro,BR,-24.79,-50.01,61.16,97,2,6.15
4,4,Albany,US,42.60,-73.97,41.00,69,2,2.08
5,5,Mahebourg,MU,-20.41,57.70,73.40,78,75,16.11
6,6,Buala,SB,-8.14,159.59,84.29,73,76,1.63
7,7,Vestmannaeyjar,IS,63.44,-20.27,44.17,73,0,2.35
8,8,Grindavik,IS,63.84,-22.43,41.00,86,0,10.29
9,9,Kununurra,AU,-15.77,128.73,91.40,52,100,6.93

In [4]:
clean_hotel_df = vacation_df
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ruwi,OM,23.60,58.55,68.00,72,0,3.36
1,1,Naryan-Mar,RU,67.67,53.09,14.59,96,0,8.57
2,2,Bredasdorp,ZA,-34.53,20.04,60.80,87,100,10.29
3,3,Castro,BR,-24.79,-50.01,61.16,97,2,6.15
4,4,Albany,US,42.60,-73.97,41.00,69,2,2.08
...,...,...,...,...,...,...,...,...,...
687,687,Abalak,RU,58.13,68.59,32.90,99,100,2.35
688,688,Rozkishne,UA,48.51,39.30,44.83,81,94,3.29
689,689,Kulu,TR,39.10,33.08,59.97,36,93,2.95
690,690,Alegrete,BR,-29.78,-55.79,74.53,71,0,9.13
691,691,Dwarka,IN,22.24,68.97,81.19,57,0,6.69

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"] == "Ruwi"]
vacation_end_df = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_stop1_df = vacation_df.loc[vacation_df["City"] == "Kapaa"]
vacation_stop2_df = vacation_df.loc[vacation_df["City"] == "Waipawa"] 
vacation_stop3_df = vacation_df.loc[vacation_df["City"] == "Innisfail"]

In [8]:
vacation_start_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ruwi,OM,23.6,58.55,68.0,72,0,3.36

In [9]:
vacation_end_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
154,154,Laguna,US,38.42,-121.42,68.0,14,1,14.99

In [10]:
# df = pd.DataFrame({"A": [1, 2], "B": [3.0, 4.5]})
# df.to_numpy()
# array([[1. , 3. ],
#        [2. , 4.5]])

import numpy as np

# start = vacation_start[{"Lat","Lng"}].to_numpy()
# start

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start_df["Lat"].to_numpy()[0], vacation_start_df["Lng"].to_numpy()[0]
start

(23.6, 58.55)

In [12]:
end = vacation_end_df["Lat"].to_numpy()[0], vacation_end_df["Lng"].to_numpy()[0]
end

(38.42, -121.42)

In [13]:
stop1 = vacation_stop1_df["Lat"].to_numpy()[0], vacation_end_df["Lng"].to_numpy()[0] 
stop1

(22.08, -121.42)

In [14]:
stop2 = vacation_stop2_df["Lat"].to_numpy()[0], vacation_end_df["Lng"].to_numpy()[0] 
stop2

(-41.41, -121.42)

In [15]:
stop3 = vacation_stop3_df["Lat"].to_numpy()[0], vacation_end_df["Lng"].to_numpy()[0] 
stop3

(-17.53, -121.42)

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
# trip = gmaps.directions_layer(start, end, travel_mode="DRIVING")
trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")

fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

#Concat won't work for this frame structure
itinerary_df = pd.DataFrame(columns = ["City_ID","City"])
itinerary_df = itinerary_df.append(vacation_start_df)
itinerary_df = itinerary_df.append(vacation_stop1_df)
itinerary_df = itinerary_df.append(vacation_stop2_df)
itinerary_df = itinerary_df.append(vacation_stop3_df)

itinerary_df

# itinerary_df = pd.concat([vacation_start,
# vacation_stop1,
# vacation_stop2,
# vacation_stop3],axis=0,ignore_index=False)

# itinerary_df = pd.DataFrame(columns = ["City_ID","City"])
# itinerary_df = vacation_start
# itinerary_df = itinerary_df.append(vacation_stop1)
# vacation_stop1,
# vacation_stop2,
# vacation_stop3])

# itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ruwi,OM,23.60,58.55,68.0,72.0,0.0,3.36
52,52,Kapaa,US,22.08,-159.32,82.4,74.0,40.0,9.17
222,222,Waipawa,NZ,-41.41,175.52,66.2,77.0,100.0,25.28
143,143,Innisfail,AU,-17.53,146.03,83.3,67.0,0.0,8.01

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure()
marker_layer2 = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2.add_layer(marker_layer2)
# 11b. Display the figure
# Call the figure to plot the data.
fig2

Figure(layout=FigureLayout(height='420px'))