In [1]:
!pip3 install gmaps

Requirement already satisfied: gmaps in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: traitlets>=4.3.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (5.0.4)
Requirement already satisfied: ipython>=5.3.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (7.18.1)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: six in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (1.15.0)
Requirement already satisfied: geojson>=2.0.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipython-genutils in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: decorator in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (3.0.7)
Requirement already satisfied: jedi>=0.10 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: pygments in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (2.7.1)
Requirement already satisfied: backcall in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: pickleshare in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (50.3.0.post20201006)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: nbformat>=4.2.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: wcwidth in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: tornado>=4.2 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: jupyter-client in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.7)
Requirement already satisfied: jupyter-core in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: notebook>=4.4.1 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.4)
Requirement already satisfied: pyzmq>=13 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (19.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: attrs>=17.4.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (20.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.17.3)
Requirement already satisfied: terminado>=0.8.3 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: jinja2 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: nbconvert in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.7)
Requirement already satisfied: argon2-cffi in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: Send2Trash in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: prometheus-client in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: defusedxml in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: bleach in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.2.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: testpath in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: jupyterlab-pygments in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: cffi>=1.0.0 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.3)
Requirement already satisfied: nest-asyncio in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.1)
Requirement already satisfied: async-generator in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: packaging in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)

Requirement already satisfied: webencodings in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pycparser in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/ryanmarsh/opt/anaconda3/lib/python3.8/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [2]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [3]:
# Import the dependencies.
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gmaps
import requests
import json


# Import API key
from config import g_key

In [4]:
g_key

'AIzaSyCDXSNKa72cN03o4XWWnKYUii-wX3eUd1E'

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataram,ID,NaN,-8.58,116.12,78.8,100,75,4.70
1,1,Mataram,ID,2020-10-24 17:29:34,-8.58,116.12,78.8,100,75,4.70
2,2,Mataram,ID,2020-10-24 17:29:34,-8.58,116.12,78.8,100,75,4.70
3,3,Geraldton,AU,2020-10-24 17:33:03,-28.77,114.60,57.2,87,0,4.70
4,4,Rikitea,PF,2020-10-24 17:33:04,-23.12,-134.97,74.7,82,94,22.88

In [6]:
# Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
gmaps

In [8]:
# Configure gmaps to use your Google API key.
import gmaps
gmaps.configure(api_key=g_key)

In [9]:
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer

WeightedHeatmap(data_bounds=[(-46.340465397136256, -179.99999), (85.0, 179.99999)], locations=[(-8.58, 116.12)…

In [12]:
# Get the maximum temperature.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [14]:
# Add the heatmap 
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataram,ID,NaN,-8.58,116.12,78.80,100,75,4.70
1,1,Mataram,ID,2020-10-24 17:29:34,-8.58,116.12,78.80,100,75,4.70
2,2,Mataram,ID,2020-10-24 17:29:34,-8.58,116.12,78.80,100,75,4.70
3,3,Geraldton,AU,2020-10-24 17:33:03,-28.77,114.60,57.20,87,0,4.70
4,4,Rikitea,PF,2020-10-24 17:33:04,-23.12,-134.97,74.70,82,94,22.88
...,...,...,...,...,...,...,...,...,...,...
542,542,Tairua,NZ,2020-10-24 17:34:32,-37.02,175.85,60.01,87,2,2.21
543,543,Smithers,CA,2020-10-24 17:30:04,54.78,-127.17,14.00,85,5,2.24
544,544,Sibu,MY,2020-10-24 17:34:32,2.30,111.82,77.00,94,40,1.03
545,545,Salaga,GH,2020-10-24 17:34:33,8.55,-0.52,82.92,56,84,2.57
546,546,Rock Sound,BS,2020-10-24 17:34:33,24.90,-76.20,79.83,79,100,8.93

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataram,ID,NaN,-8.58,116.12,78.80,100,75,4.70
1,1,Mataram,ID,2020-10-24 17:29:34,-8.58,116.12,78.80,100,75,4.70
2,2,Mataram,ID,2020-10-24 17:29:34,-8.58,116.12,78.80,100,75,4.70
12,12,Tutoia,BR,2020-10-24 17:33:04,-2.76,-42.27,85.50,66,31,15.32
13,13,Kulhudhuffushi,MV,2020-10-24 17:33:05,6.62,73.07,82.49,73,99,7.54
35,35,Cacapava Do Sul,BR,2020-10-24 17:33:07,-30.51,-53.49,80.62,59,94,3.58
41,41,Imbituba,BR,2020-10-24 17:33:08,-28.24,-48.67,78.80,61,75,11.41
44,44,Black River,JM,2020-10-24 17:33:09,18.03,-77.85,84.99,70,20,4.70
45,45,Cayenne,GF,2020-10-24 17:33:09,4.93,-52.33,89.60,62,75,13.87
50,50,Marawi,PH,2020-10-24 17:33:09,8.00,124.29,75.00,91,100,7.00

In [19]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          157
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0           Mataram      ID     78.80  -8.58  116.12
1           Mataram      ID     78.80  -8.58  116.12
2           Mataram      ID     78.80  -8.58  116.12
12           Tutoia      BR     85.50  -2.76  -42.27
13   Kulhudhuffushi      MV     82.49   6.62   73.07
35  Cacapava Do Sul      BR     80.62 -30.51  -53.49
41         Imbituba      BR     78.80 -28.24  -48.67
44      Black River      JM     84.99  18.03  -77.85
45          Cayenne      GF     89.60   4.93  -52.33
50           Marawi      PH     75.00   8.00  124.29